__pycache__/
*.py[cod]
*.egg-info/
*.eggs/
dist/
build/
.eggs/

.venv/
venv/
env/

.vscode/
.idea/
*.swp
*.swo
*~

.DS_Store
Thumbs.db

results/checkpoints/
results/metrics/
results/plots/
*.npy
!datasets/synthetic/*.npy

pyrightconfig.json

# *.pdf
*.log
.ipynb_checkpoints/
wandb/
lightning_logs/
